
<script id="card" type="text/x-handlebars-template">

<div id="player-card-contain">
  <div id="top-half-card">
    <img id="player-card-image" src="\{{avatar_url}}">
  </div>
  <div id="lower-half-card">
    <div id="player-card-name">\{{full_name}}</div>
    
    <table id="basic-info-table" class="player-card-table">
      <tr id="player-card-basic">
        <td id="number-and-pos">#13 SG</td>
        <td id="player-card-team">New Orleans Pelicans</td>
      </tr>
    </table>
    <br />
    <div>Season stats</div>
    <table class="player-card-table">
      <tr>
        <th>PPG</th>
        <th>APG</th>
        <th>RPG</th>
        <th>PER</th>
      </tr>
      <tr>
        <td>15</td>
        <td>5</td>
        <td>6</td>
        <td>25.6</td>
      </tr>
    </table>

  </div>


</div>
</script>