<div id="player-card-contain">
  <div id="top-half-card">
    <img id="player-card-image" src="http://www.clker.com/cliparts/Q/i/y/n/x/i/grey-silhouette-of-man2-hi.png">
  </div>
  <div id="lower-half-card">
    <div>Anthony Davis</div>
    <div>Pelicans</div>  
    <table>
      <tr>
        <td>#13 SG</td><td>6'5", 225 lbs</td>
      </tr>
    </table>
    <div>Season stats</div>
    <table>
      <tr>
        <th>PPG</th>
        <th>APG</th>
        <th>RPG</th>
        <th>PER</th>
      </tr>
      <tr>
        <td>15</td>
        <td>5</td>
        <td>6</td>
        <td>25.6</td>
      </tr>
    </table>

  </div>


</div>

           