table, th, td {
    border: 1px solid black;
    border-collapse: collapse;

}
th,td {
    padding: 15px;
}
.nice {
	display: hidden;
}

.main-court {
	/* background: url(http://www.conceptdraw.com/How-To-Guide/picture/basketball-court-dimensions/Sport-Basketball-Simple-basketball-court-Template.png);	 */

	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;	
	-o-background-size: cover;
	background-size: cover;
	background-color: white;
	margin: 0;
	padding: 0;
	height: 715px;
}
.positions {
	padding: 200px 0 0 420px;
	font-size: 24px;
	color: black;
} 
.guesser {
	margin: 80px 0 0 30px;	
}
.player-name {
	border: 3px solid black;
	padding:10px;
}