  <body>
    <div id="team-container">
		 <h2>Roster Blitz</h2>
		 <div>Roster Blitz is the world's premier roster and sports quiz app. With all teams from professional baseball, basketball, football, hockey, and soccer, Roster Blitz allows you to challenge friends or brush up on your knowledge.</div>
    </div>
  </body>