<div class="row-fluid">
  <div class="about-container">
    <div class="about-center">
      <div class="text-contain">
        <h1>{{message}}</h1>
        <div class="about-bigger">
        <div>Please try navigating <a href='/'>back</a> to the homepage and selecting another quiz </div><br />
        <div>Tweet out to us @rosterblitz on twitter or email us at rosterblitz@gmail.com to let us know how you found this bug. We greatly appreciate it!
        </div>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>
<script>
mixpanel.track("Got Error Page", {});
</script>
