  <body>
    <div id="team-container">
      <div id="team-select">What's your team?</div>
      <input id="select2" type="hidden"/>
      <div class="submit-section">
        <div class="btn btn-primary quiz-btn">Take Quiz</div>
        <div>
          <br />
          Or challenge yourself or a friend to: <a href="#">Top PPG this season (NBA)</a>, <a href="#">Most TDs by tight ends (NFL)</a>, <a href="#">Most shut-outs by goalkeeper (EPL)</a>
          <br />
        </div>
      </div>
    </div>

  </body>