<html>
  <title>Please Select a Team</title>
  <body>
    <div id="team-selection">
      <h1>Please Select a Team:</h1>
      <select class="selectpicker" id="teams">
        {{#each teams}}
          <option value ={{id}}> {{market}} {{name}}</option>
        {{/each}}
      </select>
   </div>
    <button class ="btn btn-primary" data-action="pick-team">Submit</button>
  </body>
<html>