  <body id="body-index">
    <div id="team-container">
      <div id="team-select">What's your team?</div>
      <div id="index-buttons">
        <input id="select2" type="hidden"/>
        <div class="submit-section">
          <div class="btn btn-success quiz-btn" id="take-quiz-button">Take Quiz</div>
      </div>

        
        {{#if trending_quiz.length}}
          <div id="trending-quiz-contain">
            
            <div>
              <span id="trending-guys-back">
                <span id="trending-guys-inner">
                  Or try one of our trending quizzes <br />
                {{#each trending_quiz}}
                <button class="btn btn-primary trending-quiz create-quiz" id="curvy-buttons" data-id={{rb_team_id}} type="button"  data-type={{type}}>
                  {{quiz_name}}<div class="g-badge badge-small-{{type}}"></div>                  
                </button>                  
                {{/each}} 
                </span>
              </span>
            </div>
            <br />
          </div>
        {{/if}}

      </div>
    </div>
    <div class="modal fade" id="selectTeamModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Please select a team first</h4>
          </div>          
          <div class="modal-body">
            <div class="modal-select-team">Make sure you select a team before you start a quiz!</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
  </div>  
  </body>