<html>
  <title>Please Select a Team</title>
  <body>
    <h1>Please Select a Team:</h1>
    <select id="teams">
      {{#each teams}}
        <option value =={{@key}}> {{this}} </option>
      {{/each}}
    </select>
    <button class ="btn blue-btn" data-action="pick-team">Submit</button>
    <hr />
  </body>
<html>