  <div id="league-background" class="league-background-index">
    <nav class="navbar navbar-default blitz" role="navigation">
    <div class="navbar-header rb">
      <a class="navbar-brand main" href="/"><span class="rb-green">Roster</span><span class="rb-green">Blitz</span><span class="glyphicon glyphicon-flash rb-bolt" aria-hidden="true"></span></a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>    
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right rb" id="nav-tabs-leagues"> 
          <li class="tabs {{#compare current 'soccer'}}selected{{/compare}}"><a href="/leaguesearch/soccer"><span class="tabs-text">Soccer</span></a></li>
          <li class="tabs {{#compare current 'mlb'}}selected{{/compare}}"><a href="/leaguesearch/mlb"><span class="tabs-text">MLB</span></a></li>
          <li class="tabs {{#compare current 'nba'}}selected{{/compare}}"><a href="/leaguesearch/nba"><span class="tabs-text">NBA</span></a></li>
          <li class="tabs {{#compare current 'nfl'}}selected{{/compare}}"><a href="/leaguesearch/nfl"><span class="tabs-text">NFL</span></a></li>
          <li class="tabs {{#compare current 'nhl'}}selected{{/compare}}"><a href="/leaguesearch/nhl"><span  class="tabs-text">NHL</span></a></li>  
        </ul>                                   
    </div>
  </nav>
    <div id="team-container">
        <div id="team-select">What's your team?</div>
    </div>
   </div>
       <div id="index-buttons">
          <input id="select2" type="hidden"/>
          <div class="submit-section">
            <div class="btn quiz-btn" id="take-quiz-button">Take Quiz</div>
          </div>
        </div> 
        {{#if trending_quiz.length}}
          <div id="trending-quiz-contain">
            
            <div>
              <span id="trending-guys-back">
                <span id="trending-guys-inner">
                  <div class="trendquiz">Trending Quizzes</div>
                {{#each trending_quiz}}
                <button class="btn btn-primary trending-quiz create-quiz" id="curvy-buttons" data-team-id={{team_id}} type="button"  data-type={{type}}>
                  {{quiz_name}}<div class="g-badge badge-small-{{type}}"></div>                  
                </button>                  
                {{/each}} 
                </span>
              </span>
            </div>
            <br />
          </div>
        {{/if}}
        <div id="quiz-types">
          <span class="type-ways"> Different Ways to Play</span>
           <div class="types-section">

            <div class="types">
              <div class="bubble roster">
                <span class="bubble-img"></span>
              </div>
              <div class="type-header roster">Rosters</div>
              <div class="type-description roster">The perfect way to practice naming all the players on your favorite team, or see who's on that scrub team they never show on TV
              </div>
              <div class="btn btn-danger">Try One</div>

            </div>
            <div class="types">
              <div class="bubble leaders">
                <span class="bubble-img"></span>
              </div>
              <div class="type-header leaders">Leaders</div>
              <div class="type-description leaders">Which player leads the NBA in points per game? The MLB in home runs? Name this season's top performers in different categories
              </div>
              <div class="btn btn-danger">Try One</div>

            </div>
            <div class="types">
              <div class="bubble goats">
                <span class="bubble-img"></span>
              </div>
              <div class="type-header goats">Goats</div>
              <div class="type-description goats">Which player has the most rushing TDs in NFL history? Name the top 10 GOATs (Greatest of All Time) in each of the major sports
              </div>
              <div class="btn btn-danger">Try One</div>

            </div>
          <div class="types-section">

        </div>    
        
        </div>
      </div>
    </div>
    <div class="modal fade" id="selectTeamModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Please select a team first</h4>
          </div>          
          <div class="modal-body">
            <div class="modal-select-team">Make sure you select a team before you start a quiz!</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
  </div>  
