  <body>
    <div id="team-container">
      <div id="team-select">What's your team?</div>
      <input id="select2" type="hidden"/>
      <div class="submit-section">
        <div class="btn btn-primary quiz-btn">Take Quiz</div>
        <div>
          <br />
          Or try one of our trending quizzes:
          {{#each trending_quiz}}
            <span class="trending-quiz" data-id={{rb_team_id}}>{{quiz_name}}{{comma}}</span>
          {{/each}} 
          <br />
        </div>
      </div>
    </div>
  </body>