<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-select.min.css' />
    <link rel='stylesheet' href='/stylesheets/select2.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css' />
  </head>
  <body>
  	<nav class="navbar navbar-default blitz" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>    
  </div>
  <a class="navbar-brand main" href="#">RosterBlitz</a>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#about">Glassenberg</a></li>
      <li><a href="#contact">Pony</a></li>
    </ul>
  </div>
</nav>
	</header>
    {{{body}}}
    <script src='/javascripts/underscore.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js'></script>
    <script src='https://code.jquery.com/jquery.js'></script>
    <script src='/javascripts/select2.min.js'></script>
    <script src='/javascripts/global.js'></script>
    <script src='/javascripts/teams.js'></script>
    <script src='/javascripts/bootstrap-select.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js'></script>
  </body>
</html>
