<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <script src='https://code.jquery.com/jquery.js'></script>
    <script src='/javascripts/global.js'></script>
  </body>
</html>
