<div class="league-middle">
  <div class="container-league">
    <div id="league-type"></div>    
    <div class="column-left all-columns"><div class="league-align-center"><p class="all-icons roster-icon" data-toggle="tooltip" data-placement="top" title="Team roster quizzes"></p></div>{{#each league}}  {{/each}}</div>
    <div class="column-center all-columns"><div class="league-align-center"><p class="all-icons season-leaders-icon" data-toggle="tooltip" data-placement="top" title="Current season leaders"</p></div>
    {{popular_teams}}
  	</div>
    <div class="column-right all-columns"><div class="league-align-center"><p class="goats-icon all-icons" data-toggle="tooltip" data-placement="top" title="Great Of All Time quizzes"></p></div></div>
  </div>
        
 </div>	
