  <div id="the-team" class="bg-white">
        <div class="our-team-contain">
          <div class="team-block">
            <div class="team-left">
              <div class="team-image"><img src="/images/ourteam/honree.png" alt="honree"></div>
            </div><!-- end .team-left -->
            <div class="team-right">
              <div class="team-text">
                <h2>Honree <span>Creative Director</span></h2>
                <div class="line-sep"></div>
                <p>Like a baby bird taking flight Honree has grown Elegant Seagulls from a one-man operation to one of the largest agencies in MI. As creative director he oversees all things design. When not cracking hilarious jokes Honree enjoys surfing, snowboarding, CrossFit, and spending time with his family and two dogs.</p>
               
              </div><!-- end .team-text -->
            </div><!-- end .team-right -->
            <div class="clear"></div>
          </div><!-- end .team-block -->

          <div class="team-block">
            <div class="team-right">
              <div class="team-image"><img src="/images/ourteam/bloke2.png" alt="bloke"></div>
            </div><!-- end .team-right -->
            <div class="team-left">
              <div class="team-text">
                <h2>Bloke <span>Director of Marketing</span></h2>
                <div class="line-sep"></div>
                <p>For over a third of his life, Bloke immersed himself in the world of e-commerce.  As vice president of marketing he successfully developed &amp; led a multimillion-dollar outdoor industry retailer. Bloke brings well-rounded experience and multi-industry knowledge to the Elegant Seagulls team along with Fantasy Football expertise. </p>                
              </div><!-- end .team-text -->
            </div><!-- end .team-left -->
            <div class="clear"></div>
          </div><!-- end .team-block -->

          <div class="team-block">
            <div class="team-left">
              <div class="team-image"><img src="/images/ourteam/kulsee.png" alt="Kulsee Ross"></div>
            </div><!-- end .team-left -->
            <div class="team-right">
              <div class="team-text">
                <h2>Kulsee <span>Senior Design &amp; Lead Developer</span></h2>
                <div class="line-sep"></div>
                <p>Forged in the fires of Alpha, Michigan Kulsee looked to hone his skills at Northern Michigan University, earning a BS in Network Computing and a minor in Art &amp; Design – a true double threat. When not writing a code or pushing pixels, Kulsee enjoys an active lifestyle riding bikes, CrossFit, snowboarding, and getting juiced like Rambo.</p>               
              </div><!-- end .team-text -->
            </div><!-- end .team-right -->
            <div class="clear"></div>
          </div><!-- end .team-block -->
          
        </div><!-- end .container -->
 </div>
     