  <div id="the-team" class="bg-white">
        <div class="our-team-contain">
          <div class="team-block">
            <div class="team-left">
              <div class="team-image"><img src="/images/ourteam/honree.png" alt="honree" class="teampage-images"></div>
            </div><!-- end .team-left -->
            <div class="team-right">
              <div class="team-text">
                <h2>Honree <span>Co-founder</span></h2>
                <div class="line-sep"></div>
                <p class="bigger">The idea for RosterBlitz came to Honree when he couldn't keep track of his team's off-season roster moves and realized he was becoming a pretty crummy Patriots fan (don't hate him). He is known on the court for his "Steve Nash dangles" - going around the basketball in circles while maintaining his dribble. Favorite teams: New England Patriots, Golden State Warriors, Oakland Athletics, U.S. Mens National Team.</p>
               
              </div><!-- end .team-text -->
            </div><!-- end .team-right -->
            <div class="clear"></div>
          </div><!-- end .team-block -->

          <div class="team-block">
            <div class="team-right">
              <div class="team-image"><img src="/images/ourteam/bloke2.png" alt="bloke" class="teampage-images"></div>
            </div><!-- end .team-right -->
            <div class="team-left">
              <div class="team-text">
                <h2>Bloke <span>Co-founder</span></h2>
                <div class="line-sep"></div>
                <p class="bigger">Bloke is the technical brains of the operation. Skilled in JavaScript on the frontend, backend, and any other end they might someday discover, Bloke is also known for his breakneck offensive pace and "miracle lay-ups" on the court. Favorite teams: New Orleans Pelicans, New Orleans Saints, FC Porto.</p>                
              </div><!-- end .team-text -->
            </div><!-- end .team-left -->
            <div class="clear"></div>
          </div><!-- end .team-block -->

          <div class="team-block">
            <div class="team-left">
              <div class="team-image"><img src="/images/ourteam/kulsee.png" alt="Kulsee Ross" class="teampage-images"></div>
            </div><!-- end .team-left -->
            <div class="team-right">
              <div class="team-text">
                <h2>Kulsee <span>Co-founder</span></h2>
                <div class="line-sep"></div>
                <p class="bigger">Kulsee is the resident data whiz. Hailing from the Great Northwest, she also has a mean pump fake in basketball that has been known to get even the most passionate Tony Allen-esque defenders in the air. Favorite teams: Portland Timbers, Seattle Seahawks, Portland Trailblazers.</p>               
              </div><!-- end .team-text -->
            </div><!-- end .team-right -->
            <div class="clear"></div>
          </div><!-- end .team-block -->
          
        </div><!-- end .container -->
 </div>
     