<div id="quiz-container" class="row">
	<div class="standard-{{league}}-container">  
	  <div class="team-container">
	  	<p class="team-name">{{team_name}}</p>
	  	<div class="clock">1:43</div>
	  	<div class="name-point-container">
		  	<div class="form-group player-name">
	         <input type="recipients" class="form-control" id="email-recipients" placeholder="Enter Player Name">
	      </div>
	      <div class="point-container">
	      	<p class="number">4</p>
	      	<p class="points">points</p>
	      </div>
	    </div>
	  </div>


{{#ifCond league 'nba'}}
    {{> nba }} 
{{/ifCond}}

{{#ifCond league 'nfl'}}
    {{> nfl }} 
{{/ifCond}}

{{#ifCond league 'nhl'}}
    {{> nhl }} 
{{/ifCond}}

{{#ifCond league 'eu_soccer'}}
    {{> eu_soccer }} 
{{/ifCond}}

{{#ifCond league 'mlb'}}
    {{> mlb }} 
{{/ifCond}}
	</div>

</div>


<script type='text/javascript'>
    var players = {{{json_stringify players}}};
    var league = '{{league}}';
 </script>
