	<div class="standard-{{league}}-container">  
	  <div class="team-container">
	  	<p class="team-name">New Orleans Pelicans</p>
	  	<div class="clock">22:00</div>
	  	<div class="name-point-container">
		  	<div class="form-group player-name">
	         <input type="recipients" class="form-control" id="email-recipients" placeholder="Enter Player Name">
	      </div>
	      <div class="point-container rb-green">
	      	<p class="number">4</p>
	      	<p class="points">points</p>
	      </div>
	    </div>
	    <div class="answer-container">
	      	<div class="answer-row left rb-green">Anthony Davis</div>
	      	<div class="answer-row right rb-green">Tyreke Evans</div>
	     </div>
	  </div>


{{#ifCond league 'nba'}}
    {{> nba }} 
{{/ifCond}}

{{#ifCond league 'nfl'}}
    {{> nfl }} 
{{/ifCond}}

{{#ifCond league 'nhl'}}
    {{> nhl }} 
{{/ifCond}}

{{#ifCond league 'eu_soccer'}}
    {{> eu_soccer }} 
{{/ifCond}}

{{#ifCond league 'mlb'}}
    {{> mlb }} 
{{/ifCond}}
	</div>




<script type='text/javascript'>
    var players = {{{json_stringify players}}};
    var league = '{{league}}';
 </script>
