  <body>
    <div id="team-container">
      <div id="team-select">What's your team?</div>
      <select class="select2 teams">
          <option value="select2/select2" selected="selected">Select a Team</option>
      </select>
    </div>
  </body>

