  <body>
    <div id="team-container">
      <div id="team-select">What's your team?</div>
          <input id="select2" type="hidden"></>
    </div>
    <div id="player-container">
      <div id="player-select">What's your player?</div>
          <input id="selectP" type="hidden"></>
    </div>
  </body>

