.container-league {
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;    
    margin-top:5%;  
    height: 300px; 	
}
#league-type {
	text-align: center;
	font-size: 2em;
}
.all-columns {
    border: 1px solid white;
    color: white;
    background: rgba(235, 235, 235, 0.8);
    min-height: 300px;
}
.column-left {
    width: 33%;
    left: 0;    
    position: absolute;

}
.column-center {
    width: 34%;    
    margin-left: 33%;
    position: absolute;
}
.column-right {
    width: 33%;
    right: 0;
    position: absolute; 
}
.league-align-center {
	text-align: center;
	font-size: 1.5em;
}
.all-icons {
  max-width: 25%;
  max-height: 25%;
  border-radius: 10px;  
  margin: 0 auto 0 auto;
  padding-top: 5%;
}
.goats-icon {
  content: url(http://upload.wikimedia.org/wikipedia/en/thumb/c/c0/Portuguese_Ibex_Cabrera_Goat.svg/500px-Portuguese_Ibex_Cabrera_Goat.svg.png);
}
.season-leaders-icon {
 content: url(http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/magic-marker-icons-culture/115276-magic-marker-icon-culture-crown-five-points2.png);   
 max-width: 28%;
 padding-top: 2%;
}
.roster-icon {
 content: url(https://cdn4.iconfinder.com/data/icons/ios7-essence/22/editor_clipboard_checkmark_done-512.png);    
}