.container-league {
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;    
    margin-top:8%;  
    height: 300px; 	
}
#league-type {
	text-align: center;
	font-size: 2em;
}
.all-columns {
    border: 1px solid white;
    color: white;
    background: rgba(235, 235, 235, 0.9);
    min-height: 300px;
    max-height: 500px;
}
.column-left {
    width: 33%;
    left: 0;    
    position: absolute;

}
.column-center {
    width: 34%;    
    margin-left: 33%;
    position: absolute;
}
.column-right {
    width: 33%;
    right: 0;
    position: absolute; 
}
.league-align-center {
	text-align: center;
	font-size: 1.5em;
}
.top-list-contain .list-group .league-search-items {
  background-color: transparent;
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px; 
}
.top-list-contain .list-group .league-search-items:hover {
  color: #555;
  font-size: 1.2em;
  background: rgb(22, 231, 22);
  
}
.all-icons {
  max-width: 22%;
  max-height: 22%;
  margin: 0 auto 0 auto;
  margin-top: 5%;
}
.all-icons-small {
  max-width: 12% !important;
  max-height: 15%;
}
.text-align-center {
    text-align: center;
}
.goats-icon {
  content: url(http://upload.wikimedia.org/wikipedia/en/thumb/c/c0/Portuguese_Ibex_Cabrera_Goat.svg/500px-Portuguese_Ibex_Cabrera_Goat.svg.png);
}
.season-leaders-icon {
 content: url(http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/magic-marker-icons-culture/115276-magic-marker-icon-culture-crown-five-points2.png);   
 max-width: 26%;
 padding-top: 1%;
}
.roster-icon {
 content: url(https://cdn4.iconfinder.com/data/icons/ios7-essence/22/editor_clipboard_checkmark_done-512.png);    
}
.top-list-contain {
    padding-top: 10%;
}
.top-list-contain li {
    padding: 5px;
    cursor:pointer;
    color: #337ab7;
}