.container-league {
    position: relative;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top:5%;
    overflow: hidden;
}
#league-type {
	text-align: center;
	font-size: 2em;
}
.all-columns {
    border: 1px solid #ffffff;
    color: white;
}
.all-columns.roster{
  background: rgba(66, 107, 215, 0.9);
}
.all-columns.leaders{
    background: rgba(232, 67, 224, 0.9);
}
.all-columns.goats{
  background: rgba(232, 67, 67, 0.9);
}
.column-center {
    margin: 3% 19%;
    border: none;
}
.group-rows{
  overflow-y: scroll;
}

.league-align-center {
	text-align: center;
	font-size: 1.5em;
  margin: 0 31%;
}
.top-list-contain .list-group .league-search-items {
  background-color: transparent;
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  font-size: 1.1em;
  width: 50%;
  float: left;
  color:white;
  border: 1px solid #4052CB;
}
.top-list-contain .list-group.leaders .league-search-items{
  border: 1px solid #DB2CF7;
}
.top-list-contain .list-group.goats .league-search-items{
  border: 1px solid #FA4323;
}
.top-list-contain .list-group .league-search-items:hover {
  color: #fff;
  background: rgb(22, 231, 22);
}

.top-list-contain .list-group.goats .league-search-items:hover{
  background: rgb(209, 16, 16);
}
.top-list-contain .list-group.roster .league-search-items:hover{
  background: rgb(35, 58, 205)
}
.top-list-contain .list-group.leaders .league-search-items:hover{
  background: rgb(201, 53, 227);
}
.all-icons.white {
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
-moz-filter:brightness(0) invert(1);
-o-filter: brightness(0) invert(1);
-ms-filter: brightness(0) invert(1);
}
.all-icons.roster-icon{
  max-width: 72%;
  margin-top: 7%;
  margin-left: 4%;
  margin-bottom:7%;
}
.all-icons.black{
  max-width: 75%;
  margin-top: 8.9%;
  margin-bottom: 8.9%;
}
.all-icons.goats-icon{
  margin-top: 8%;
  margin-left: -3%;
  max-width: 72%;
  margin-bottom: 8%;
}
}
.all-icons-small {
  max-width: 12% !important;
  max-height: 15%;
}
.text-align-center {
    text-align: center;
}

.top-list-contain li {
    padding: 5px;
    cursor:pointer;
    color: #337ab7;
}
.trendquiz-leaguesearch {
  font-size: 1.5em;
  color: #ffffff;
  margin-bottom: 0.5%;
  margin-top: 1%
}
.search-ls {
  width: 30%!important;
  margin: 1% 20% 0 35%;
}

.league-section{
  text-align: center;
  padding: 3% 2% 3% 2%;
}
#goats-background{
  background-position: 100% 10%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  background-color: #211922;
  margin: 0;
  padding: 0;
  background-image: url(../images/epic_photos/goat_herd.jpg);
  background-attachment: fixed;
}

#leaders-background{
  background: #eef2f6;
}

.type-head{
  font-size: 3.2em;
  text-shadow: 6px 6px 10px rgba(0,0,0,.6);
  color: #fff;
  font-weight: 400;
  margin: 0 -200px;
}
.type-head.leaders{
  color: rgb(69, 62, 62);
}
.league-bubble{
  width: 20%;
  border-radius: 50%;
  margin-left: 40%;
}
.goats .league-bubble{
  background-color: rgba(232, 67, 67, 0.9);
}
.leaders .league-bubble{
  background-color: rgba(232, 67, 224, 0.9);
}
.roster .league-bubble{
  background-color: rgba(66, 107, 215, 0.9);
}


@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:25px;
  	width:228px;
  }

  #sidebar.affix {
    position: fixed;
    top:25px;
    width:228px;
  }
}

.affix,.affix-top {
   position:static;
}

.league-roster .league-sidebar{
  float:right;
  width:11%;
  margin-right: -20px;
  margin-top: 3%;
}
.league-roster .league-sidebar .affix{
  width:100%;
}

.bs-docs-sidenav{
  background-color: rgba(118, 204, 236, 0.7);
  border-radius: 2px;
  margin-top: -6%;
}

.league-sidebar .ls-tag{
  color: #fff;
  font-size: 14px;
  line-height: 1.42857143;
  padding: 5px 15px;
}

.bs-docs-sidenav li.active{
  color: #000;
}

.bs-docs-sidenav li.rosters.active, .bs-docs-sidenav li.rosters>a:hover{
  background: rgba(66, 107, 215, 0.9);
}
.bs-docs-sidenav li.leaders.active, .bs-docs-sidenav li.leaders>a:hover{
  background: rgba(232, 67, 224, 0.9);
}
.bs-docs-sidenav li.goats.active, .bs-docs-sidenav li.goats>a:hover{
  background: rgba(232, 67, 67, 0.9);
}
.bs-docs-sidenav li.active a{
  color: #000;
}


@media screen and (max-width: 780px) {
  .top-list-contain .list-group .league-search-items{
    width:100%;
    float:none;
  }

  .league-align-center{
    font-size: 70%;
    margin:0;
  }
  .column-center{
    margin:3% 6%;
  }
}
