
#primary-nav { background:#e7e7e7 url(../img/bg-header.jpg) top left repeat-x; height:1px; }
.logo-small { position:absolute; left:0px; top:5px; width:80px; height:50px; }
#primary-nav .logo-small { display:none; }
#logo { width:280px; height:100px; position:absolute; left:0px; top:30px; z-index:150; }
#mobile-btn { display:none; width:50px; height:50px; position:absolute; right:10px; top:0px; }
nav.primary { width:60%; height:40px; position:absolute; right:0px; top:60px; font-size:17px; text-align:right; z-index:150; }
nav.primary a { color:#3c3d3d; margin-left:35px; line-height:40px; }
nav.primary a:hover { color:#b5d448; }
/* secondary navigation */
#secondary-nav { height:50px; width:100%; left:0px; top:-51px; position:fixed; z-index:200; background:url(../img/bg-secondarynav.png) repeat; border-bottom:1px solid #d9d9d9; }
nav.secondary { width:80%; position:absolute; right:0px; top:0px; height:50px; line-height:50px; text-align:right; }
nav.secondary a { color:#3c3d3d; margin-left:35px; line-height:40px; }
nav.secondary a:hover { color:#b5d448; }
/* 
-------------------------------------------------------------
FOOTER
*/
.foot-sep { border-bottom:4px solid #606060; margin:30px auto; width:100px; }
/* foot social */
#foot-social { padding-top:30px; }
#foot-social a { display:inline-block; width:45px; height:45px; margin:0px 5px; background-repeat:no-repeat; background-position:top center; }
#foot-social a.fb { background-image:url(../img/footer-social-fb.png); }
#foot-social a.twitter { background-image:url(../img/footer-social-twitter.png); }
#foot-social a.mail { background-image:url(../img/footer-social-mail.png); }
/* 
-------------------------------------------------------------
MAIN CONTAINERS
*/
.bg-white { background:#ffffff; }
.bg-gray-light { background:#fafafa; }
.bg-gray-dark { background:#3c3d3d; }
.bg-green { background:#b5d448; }
/*.col2 { width:46.36%; float:left; margin-left:7.28%; }*/
.col2 { width:46.2727%; float:left; margin-left:7.4546%; }
.col2:first-child { margin:0px; }
/* 
-------------------------------------------------------------
QUOTE SLIDER
*/
.quote-slider { height:210px; border-top:1px dashed #cecece; margin-top:40px; position:relative; overflow:hidden; }
.quote-slider .slide { padding:30px 0px; width:100%; }
.quote-slider .slide-image { width:18%; float:left; }
.quote-slider .slide-text { width:77%; float:right; }
.quote-slider .slide-title { color:#9d9d9d; font-size:16px; display:block; margin-bottom:5px; }
.quote-slider .slide i { font-family:'Palatino', serif; font-style:italic; font-size:18px; line-height:26px; }
/* slider nav */
.quote-slider-nav { height:23px; width:100%; position:absolute; left:0px; bottom:0px; background:url(../img/bg-quotenav.png) center repeat-x; }
.quote-slider-nav .next { float:right; }
.quote-slider-nav .prev { float:left; }
/* 
-------------------------------------------------------------
DRIBBBLE FEED
 
*/
#dribbble-feed { padding:70px 0px; text-align:center; }
#dribbble-feed a { color:#ffffff; margin:0px 5px; }
#dribbble-feed a:hover { text-decoration:underline; }
#dribbble-feed a:hover img { border:7px solid #ffffff; }
#dribbble-feed img { width:13%; border:7px solid #cce181; }
/* 
-------------------------------------------------------------
POP UP
*/
.modal { position:absolute; top:0px; left:0px; z-index:450; background-repeat:repeat; display:none; }
.modal-main { position:relative; width:1100px; margin:auto; box-shadow:0px 0px 10px rgba(0,0,0,0.3); }
.modal-video { width:1100px; height:619px; margin-bottom:-5px; }
.modal-close { width:40px; height:40px; position:absolute; right:35px; top:35px; transition:opacity 0.1s linear; -webkit-transition:opacity 0.1s linear; -moz-transition:opacity 0.1s linear; opacity:0.5; }
.modal-close:hover { opacity:1; }
/* 
-------------------------------------------------------------
GENERAL
*/
.clear { clear:both; }
.nomarg { margin:0px; }
.noborder { border:none; }
.line-sep { border-bottom:4px solid #e4e4e4; margin:20px 0px; width:80px; }
.noborder-right { border-right:none; }
.noborder-bottom { border-bottom:none; }
.noborder { border:none; }
/* 
-------------------------------------------------------------
GENERAL RESPONSIVE VIEWS
*/
/* tablet landscape view */
@media (max-width: 1150px) {
  .container { width:900px; }
  /* modal */
  .modal-main { width:900px; }
  .modal-video { width:900px; height:507px; }
}
/* tablet portrait view */
@media (max-width: 960px) {
    
  .container { width:700px; }
  .col2, .col2:first-child { width:509px; float:none; margin:0px; margin:0px auto; }
  /* modal */
  .modal-main { width:700px; }
  .modal-video { width:700px; height:394px; }
  /* navigation */
  nav.primary { font-size:15px; width:70%; }
  nav.primary a { margin-left:25px; }
  /* hide portrait elements */
  .hide-portait { display:none; }
  /* dribbble feed */
  #dribbble-feed img { width:12%; }
}
/* phone view */
@media (max-width: 767px) {
  .container { width:80%; }
  #logo { display:none; }
  .col2, .col2:first-child { width:100%; }
  /* modal */
  .modal-main { width:90%; }
  .modal-video { width:100%; height:350px; }
  /* header */
  
  #header-interior { height:50px; }
  /* navigation */
  #mobile-btn { display:block; }
  #primary-nav { position:fixed; height:50px; width:100%; z-index:200; background:url(../img/bg-secondarynav.png) repeat; border-bottom:1px solid #d9d9d9; }
  #primary-nav .logo-small { display:block; left:10px; }
  #primary-nav .container { width:100%; }
  #secondary-nav { display:none; }
  nav.primary { display:none; }
  nav.shownav { display:block; color:#ff0000; top:51px; left:0px; height:auto; width:100%; background:url(../img/bg-secondarynav.png) repeat; text-align:center; }
  nav.shownav a { display:block; line-height:50px; border-bottom:1px solid #d9d9d9; margin:0px; }
  /* hidden elements */
  .hide-mobile { display:none; }
  /* quote slider */
  .quote-slider .slide i { font-size:14px; line-height:20px; }
  /* footer */
  
  /* rows */
  .row-fluid .span4, .row-fluid .span6 { width:100%; float:none; margin:0px; margin-bottom:30px; }
  /* dribbble feed */
  #dribbble-feed { padding:40px 0px; }
  #dribbble-feed img { width:38%; margin-bottom:10px; }
  /* general */
}
.our-team-contain {
  padding: 0 18% 0 18%;
}
#the-team { padding:10px;
   padding-bottom:60px; }
#the-team h2 { font-family:'Open Sans Condensed', sans-serif; font-size:60px; line-height:60px; margin:0px; }
#the-team h2 span { color:#9d9d9d; font-family:'Sanchez', sans-serif; display:block; font-weight:normal; font-size:26px; line-height:46px; }
#team-seagull1 { width:100px; height:277px; position:absolute; z-index:10; top:-155px; left:0%; }
#team-seagull2 { width:108px; height:242px; position:absolute; z-index:10; top:-155px; left:30%; }
.team-block { border-bottom:2px solid #e2e2e2; padding-top:8%; }
.team-left { width:48%; float:left; }
.team-right { width:48%; float:right; }
.team-text { padding:70px 0px; }
.team-image { text-align:center; padding-bottom:60px; }
.team-dribbble { padding-left:25px; background:url(../img/icon-dribbble.png) top left no-repeat; line-height:23px; display:inline-block; }
/* team quote slider */
#the-team .quote-slider { height:173px; }
#the-team .quote-slider .slide-text span.slide-fact { line-height:24px; color:#252525; font-size:18px; }
.teampage-images {
  border-radius:75px;
  border:2px solid #e2e2e2;
}
/* 
-------------------------------------------------------------
THE OTHER GUYS
 
*/
#otherguys { padding-bottom:60px; }
.otherguys-block { width:20%; float:left; text-align:center; font-size:18px; line-height:18px; }
.otherguys-block span { font-size:14px; color:#aaaaaa; line-height:14px; }
/* 
-------------------------------------------------------------
TEAM PAGE RESPONSIVE VIEWS
*/
/* tablet landscape view */
@media (max-width: 1150px) {
  /* the team */
  #the-team h2 { font-size:50px; line-height:50px; }
  #the-team h2 span { font-size:20px; line-height:40px; }
}
/* tablet portrait view */
@media (max-width: 960px) {
  /* the office */
  #theoffice { display:none; }
  #team-seagull2, #team-seagull1 { top:-180px; }
}
/* phone view */
@media (max-width: 767px) {
  /* team */
  .team-left, .team-right { float:none; width:100%; }
  .team-image { padding:0px; }
  .team-text { padding:10px; padding-bottom:30px; }
  #team-seagull2, #team-seagull1 { display:none; }
  /* quote slider */
  #the-team .quote-slider .slide-text span.slide-fact { line-height:20px; color:#252525; font-size:14px; }
  /* other guys */
  #otherguys { display:none; }
}
img { max-width:100%; }

.bigger {
  font-size: 1.4em;
}