body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#team-selection{
	margin-bottom: 15px;
}

.navbar-header.rb{
	padding-left: 50px
}

.navbar-right.rb{
	padding-right: 50px
}

.navbar.blitz{
	border-color:#fff;
	font-family: HelveticaNeue-Thin;
}

.navbar-brand.main{
	font-size: 22px;
}

.nav-bar-collapse{
	background: rgb(252, 252, 252);
<<<<<<< HEAD
=======

>>>>>>> ad1a63a2ee4062ff91c389f4318a0fa1e45c11e0
}

#team-container{
	text-align: center;
	padding-top: 5%;
}

#team-select{
	font-size: 58px;
	font-family: HelveticaNeue-Thin;
	padding-bottom: 25px;
}

@media screen and (max-width: 780px) {
    #team-select {
        font-size: 34px;
        padding-bottom: 20px;

    }
}

@media screen and (max-width: 460px) {
    #team-select {
        font-size: 20px;
        padding-bottom: 15px;

    }
}

.submit-section{
	padding-top: 30px;
}

.quiz-btn{
	width:34%;
}
.select2-container{
	min-width: 150px;
}

.select2-selection{
	text-align: left;
}

.select2-selection__rendered{
	color:gray !important;
}

.select2-container .select2-choice > .select2-chosen{
	text-align: left
}

.navbar-right.rb li{
	padding-left: 50px;
}