@font-face {
    font-family:"Erbos Draco 1st NBP";
    src: url(../fonts/erbos_draco_1st_nbp.ttf)
}

@font-face {
    font-family:"Erbos Draco 1st Open NBP";
    src: url(../fonts/erbos_draco_1st_open_nbp.ttf)
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: HelveticaNeue-Thin !important;
}

a {
  color: #00B7FF;
}
#body-index {
  background: url(../images/stadiums/eu_soccer_stadiums/olympiastadion-stadium.jpg);     
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;  
  -o-background-size: cover;
  background-size: cover;
  background-color: #211922;
  margin: 0;
  padding: 0;  
}

#team-selection{
  margin-bottom: 15px;
}
.tabs {
  color: #ffffff;
}
.tabs-text {
 color: #ffffff; 
}
.social-chart{
  float: left;
}

.social-chart-close{
  margin-top:8px;
}

.social-chart .share-element{
  padding:0;
}

.chart-text{
  opacity: 0.9;
  position: absolute;
  top: 49%;
  left:4%;
  margin-top: -22px;
  font-size: 25px;
  height: 138px;
  font-weight: normal;
  text-align: center;
  width: 92%;
  background-size: 26% auto;
  background-repeat: no-repeat;
  background-position: center center;
}

#chartLegend{
  margin-top: -30px
}

.legend-header{
  margin-bottom: 5px;
  margin-left: 6px;
}

.modal-footer .share-this{
  float: left;
  margin-left: 14%;
  margin-top: 1.4%;
  width: 122px;
}
.modal-footer .share-this.copied{
  background-color: #2F772F;
  border-color: #286928;
  text-align: center;
}

/*
.g-badge {  
  display: inline-block;
  min-width: 10px;
  padding: 1px 2px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;  
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 50%;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 2px 0 2px;    
  content: url(http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/magic-marker-icons-culture/115276-magic-marker-icon-culture-crown-five-points2.png) no-repeat 0 0;
  background-size: 100%;
  background-color: #fff;
  vertical-align: -7px;
}
*/  

.modal-title .percentage{
  color: white;
  padding: 3px;
  border-radius: 9px
}
.chart-team{margin-top: 0;}
.char-body-header{float:left;}
.chart-container p{
  margin:0;
}
.legend {
    width: 10em;
    float: right;
}

.legend .title:last-child{
  margin-bottom: 0;
}

.legend .title {
    display: block;
    margin-bottom: 0.5em;
    line-height: 1.2em;
    padding: 0 0.3em;
}

.legend .color-sample {
    display: block;
    float: left;
    width: 1em;
    height: 1em;
    border: 2px solid; /* Comment out if you don't want to show the fillColor */
    border-radius: 0.5em; /* Comment out if you prefer squarish samples */
    margin-right: 0.5em;
}
.badge-small-roster {
  padding: 0px 4px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  border-radius: 50%;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 2px 0 5px;
  background: url(https://cdn4.iconfinder.com/data/icons/ios7-essence/22/editor_clipboard_checkmark_done-512.png) no-repeat 2px 1px;
  background-size: 90%;
  background-color: #fff;
  vertical-align: -7px;
}
.badge-small-leaders {
  padding: 0px 4px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;  
  text-align: center;
  white-space: nowrap;  
  border-radius: 44%;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 2px 0 5px;    
  background: url(http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/magic-marker-icons-culture/115276-magic-marker-icon-culture-crown-five-points2.png) no-repeat 2px 1px;
  background-size: 90%;
  background-color: #fff;
  vertical-align: -7px;
}
.badge-small-goats {
  padding: 0px 4px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;  
  text-align: center;
  white-space: nowrap;
  border-radius: 44%;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 2px 0 5px;    
  content: url(http://upload.wikimedia.org/wikipedia/en/thumb/c/c0/Portuguese_Ibex_Cabrera_Goat.svg/500px-Portuguese_Ibex_Cabrera_Goat.svg.png) no-repeat 2px 1px;
  background-size: 90%;
  background-color: #fff;
  vertical-align: -7px;
}
.goats-icon {
  content: url(http://upload.wikimedia.org/wikipedia/en/thumb/c/c0/Portuguese_Ibex_Cabrera_Goat.svg/500px-Portuguese_Ibex_Cabrera_Goat.svg.png);
}
.season-leaders-icon {
 content: url(http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/magic-marker-icons-culture/115276-magic-marker-icon-culture-crown-five-points2.png);   
 max-width: 26%;
 padding-top: 1%;
}
.roster-icon {
 content: url(https://cdn4.iconfinder.com/data/icons/ios7-essence/22/editor_clipboard_checkmark_done-512.png);    
}
.tabs:hover, .tabs.selected {
  background-color: rgb(22, 231, 22); 
  border-radius: 4px 4px 0 0;
  color: white;
  cursor: pointer;
  font-size: 1.1em;
}
.navbar-header.rb{
  padding-left: 50px
}
#how-works-button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 7px;
}
.navbar-right.rb{
  margin-right: 1px;
}
#how-works-modal {
  margin-top: 15%;
}
#how-works-main {
  padding: 4% 0 4% 0;
}
#how-works-footer {
  text-align: center;
  padding: 10px 0 3px 0;
}
#how-works-body {
  font-size: 1.3em;
}
#how-works-header {
  text-align: center;
}
.float-icon {
  float: left;
}
.modal-bullets {  
  margin: 0 5% 0 16%;
}
.modal-clear {
  clear: left;
  margin-top: 5%;
}
.navbar.blitz{
  background: rgba(32, 26, 26, 0.7);
  font-family: HelveticaNeue-Thin;
  z-index:100;
  margin-bottom: 0;  
  border-color: #201A1A;
}
.navbar-brand.main{
  font-size: 22px;
}
#nav-tabs-leagues {
  border-bottom: none;
}
#question-mark-contain {
  padding: 0;
}
#question-mark {
  font-size: 2em;
  color: rgb(22, 231, 22);
  padding-top: 10px;
}
#question-mark:hover {
  color: #ffffff;
}
.rb-bolt {
  vertical-align: -2px;
  background: rgb(22, 231, 22);
  padding: 3px 3px;
  border-radius: 28px;
  color: rgb(255, 255, 255);
  margin-left: 7px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
.navbar-brand.main:hover .rb-bolt{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.tooltip-arrow,
.white-tooltip + .tooltip > .tooltip-inner {  
  font-size: 1.2em;
  font-family: HelveticaNeue-Thin;
  border: 1px solid #fff;
  margin-right: 12px;
}
.tooltip-inner {    
    /* If max-width does not work, try using width instead */
    width: 120px; 
}
#index-buttons .select2-container .select2-choice{
  height: 35px;
}

.answer-right-section .content-section {
  padding: 9px;
}

.answer-right-section .subheader {
  border-bottom: 1px solid rgb(204, 204, 204);
} 


.answer-right-section .correct-guess{
  padding-top: 10px;
  cursor: pointer;
  color: rgb(55, 132, 211);
}

.answer-container .inner-guess .stat{
  float: right;
  padding-right: 20px;
}


.team-name{
  color:#fff;
  font-size: 40px;
  text-align: center;
  background: rgba(32, 26, 26, 0.5);
}
#the-team-span {  
  border-radius: 10px; 
  padding: 5px;
}
#align-clock {
  text-align: center; 
}
.clock{
  display: inline-block;
  font-family:"Erbos Draco 1st Open NBP";
  background-color: rgb(137, 32, 32);
  color: #F4E1E1;
  border-radius: 1px;
  font-size: 30px;
  padding-left: 5px;
  padding-bottom: 2px;
}

.name-point-container{
  padding-top: 5%;
  overflow: hidden;
}

.footer {
  position: absolute; 
  bottom: 0;
  width: 100%;  
  height: 50px;
  background: rgba(32, 26, 26, 0.7);
  border-radius: 4px;
}

.footer.static{
  position: relative;
}
.footer-container {    
  padding: 0 15px;
  text-align: center;
}
.container .text-muted {
  margin: 20px 0;
  text-align: center;
  font-family: HelveticaNeue-Thin;
}
.bs-docs-footer-links {
    padding-left: 0;
    margin-top: 20px;
}
.bs-docs-footer-links > li {
  margin:0 10px 0 10px;
    display: inline-block;
}
ul {
    list-style-type: none;    
}
.center-it {
  width: auto;
}

#team-select{
  font-size: 80px;
  font-family: HelveticaNeue-Thin;
  padding-bottom: 15px;
  text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6);
  color: #fff;
  font-weight: 400;
}

.point-container{
  background: rgb(62, 65, 62);
  padding: 6px 11px 5px 11px;
  margin-left: -4px;
  width: 15%;
  line-height: 1;
  text-align: center;
  display: inline-block;
  border-radius: 0 5px 0 0;
  border-bottom: 1px rgb(62, 65, 62);
}
/* ====== LEFT COLUMN  ======== */
#left-quiz-column {
  float: left;
  width: 50%;
  margin-top: 5%;
}
#team-container{
  text-align: center;
  padding: 6% 2% 2% 2%;
} 
#index-buttons {  
  text-align: center;
  margin: 2% 15% 0 15%;
  padding: 2% 2% 0 2%;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}
.team-container{  
  margin-left: 5%;
  padding: 5% 2% 5% 2%;
  background: rgba(32, 26, 26, 0.7);
  min-height: 220px;
  min-width: 330px;
}
#also-might-like {  
  margin-top: 5%;
  margin-left: 5%;    
  min-width: 330px;
  text-align: center;
}
#also-like-inner {
  background-color: #ffffff;
  font-size: 1.3em;
  padding: 3%;
}
#right-quiz-column {
  float: right;
  width: 50%;
  min-height: 750px;
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}


  /* ===== PLAYER CARD STYLING ===== */

#player-card-contain {
  min-height: 300px;
  min-width: 100px;
  background: rgba(255, 255, 255, 0.98);
  border-radius: 0 0 5px 5px;  
  color: black;
}

.back-to-answer{
  padding: 2%;
  cursor: pointer;
  display: inline-block;
  color:#337ab7;;
}

.back-to-answer-absolute{
  position: absolute;
  z-index: 5;
  width: inherit;
}

#top-half-card {
padding-top: 4%;
padding-left: 3%;
}
#player-card-image {
  max-width: 95px;
  border-radius: 50%;
  float: left;
  border: 1.5px solid #000; 
  margin-left: 10px;   
}
#top-player-info {
  padding-left: 22%;

}
#lower-half-card {  
  padding: 0 10% 0 10%;  
}
#player-card-name {
  font-size: 1.7em;
  font-weight: 800;
}
#line-divider {  
  border: 1px solid #000;
  margin: 5px 0 5px 0;
  width: 80%;
}
#player-card-basic td {
  font-size: 1.1em;
  padding-left: 5px;
  padding-right: 5px;
  border-right: 1px solid #000;
}
#player-card-basic td:last-of-type {
  border-right: none;
}
#stats-table {
  border-collapse: separate;
  border-spacing: 2px 0;
  width: 80%;
  padding-top: 3%;
}
#stats-table td {
  background: rgba(250, 250, 250, 0.2);
  text-align: center;
  padding: 2px 10px;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
#lower-half-card .player-card-table{
  border-collapse: separate;
  border-spacing: 2px 0;
  width: 230px;
}
#lower-half-card .player-card-table td{
  background: rgba(250, 250, 250, 0.2);
  text-align: center;
  padding: 2px 10px;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
#lower-half-card .subheader{
  color: #000;
}
.player-card-table th {
  text-align: center; 
  font-size: 13px;
  line-height: 14px;
  color: #fff;
  padding-top: 2px;
  font-weight: normal;
  background: #931207;
}
#other-card-info {  
  padding-bottom: 3%;
  font-size: 1.3em;
}
#other-card-info-left {
  float: left;
  padding-right: 30%;
}

/* ======= END PLAYER CARD  ========= */


.point-container .number{
  margin: 0;
  font-size: 17px;
}

.point-container .points{
  font-size: 12px;
  margin:0;

}


.answer-row.subheader {
  padding: 6px 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.answer-row.left{
  float:left;
  width:50%;
}


.answer-container-contain {
  background: rgba(255, 255, 255, 0.98);
  border-radius: 5px 5px 5px 5px;
  border-bottom: 1px solid #ccc;
  min-height: 300px;
  overflow: auto;
  position: relative;
  font-family:HelveticaNeue;
}

.cover{
  position: absolute;
  background-size: 30% auto;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.1;
}

.answer-container .starters{
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

.answer-container .outer-guess{
  float: left;
  width: 50%;
  height:42px;
}

.answer-container .inner-guess{
  padding: 5px;
  height:42px;
  width:100%;
}

.answer-container .inner-guess.guessed:hover{  
  cursor:pointer;
}
.answer-container .inner-guess.guessed.no-hover:hover{  
  cursor:default;
}
.green-background {
  background-color:rgb(22, 231, 22);
  animation: fadeout 2s forwards;
    animation-delay: 1s;
    -moz-animation: fadeout 2s forwards;
    -moz-animation-delay: 1s;
    -webkit-animation: fadeout 2s forwards;
    -webkit-animation-delay: 1s;
    -o-animation: fadeout 2s forwards;
    -o-animation-delay: 1s;
}

@keyframes fadeout {
    to {
        background-color:rgba(255, 255, 255, 0.3);
    }

}
@-moz-keyframes fadeout {
    to {
        background-color: rgba(255, 255, 255, 0.3);
    }
}
@-webkit-keyframes fadeout {
    to {
        background-color: rgba(255, 255, 255, 0.3);
    }
}
@-o-keyframes fadeout {
    to {
        background-color: rgba(255, 255, 255, 0.3);
    }
}

.answer-container .correct-guess{
  position: absolute;
  z-index: 5;
  width:50%;
  height:inherit;
}


.container-iphone {
  display:none;
}

.submit-section{
  padding-top: 30px;
}
.quiz-btn{
  width:100%;
}
#take-quiz-button {
  font-size: 1.2em;
}
.select2-container{
  min-width: 150px;
}

.select2-selection{
  text-align: left;
}

.select2-selection__rendered{
  color:gray !important;
}

.select2-container .select2-choice > .select2-chosen{
  text-align: left
}
.circle-avatar{
    margin-top:5px; 
    width:40px;
    height:40px; 
    border-radius:20px; 
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

.auth-container{
    text-align: center;
    padding-top: 100px;
}

.auth-thanks{
    color: #777;
    font-family: HelveticaNeue-Thin;
    font-size: 30px;
    padding-bottom: 20px;
}

/* about page */
.about-body {
  background: url(../images/stadiums/eu_soccer_stadiums/soccer-stadium4.jpg);    
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;  
  -o-background-size: cover;
  background-size: cover;
  background-color: #211922;
  margin: 0;
  padding: 0;
}
.about-center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  max-width: 800px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  border-radius: 20px;
}
.text-contain {
  padding:20px;
}
.about-body {
  font: 24px;
  opacity: 0.9;
}
.about-bigger {
  font-size: 1.4em;
}
.about-body.modal-open {
  opacity: 1;
}

.social-sidebar{
    position: absolute;
    right: 82%;
    top: 60px;
}


.share-element{
    position: relative;
    float: right;
    padding-right: 5px;
}
#email{
    background-image: url(../images/blitz-social-sprite.png);
    background-repeat: no-repeat;
    background-position: -60px -59px;
    height: 45px;
    width: 45px;
    top: 0;
    left: 0;
    background-size: 700px;
    cursor: pointer;
}

#email:hover{
    background-position: -60px -147px;
}

#facebook{
    background-image: url(../images/blitz-social-sprite.png);
    background-repeat: no-repeat;
    background-position: -260px -60px;
    height: 45px;
    width: 45px;
    top: 0;
    left: 0;
    background-size: 700px;
    cursor: pointer;
}

#facebook:hover{
    background-position: -260px -147px;
}

.share-element div{
    border-radius: 25px;
}

#twitter{
    background-image: url(../images/blitz-social-sprite.png);
    background-repeat: no-repeat;
    background-position: -394px -59.5px;
    height: 45px;
    width: 45px;
    top: 0;
    left: 0;
    background-size: 700px;
    cursor: pointer;
}

#twitter:hover{
    background-position: -394px -147.5px;
}

.auth-container .share{
    margin-bottom: 10px;
    color: rgb(102, 117, 127);
    font-weight: 300;
    text-align: left;
    font-size: 24px;
}

.auth-container .share.center{
    text-align: center;
    margin-bottom: 30px;
}
.table-iphone{
  margin-left: auto;
  margin-right: auto;
}
.table-iphone td, .table-iphone th {
  padding: 5px 20px;
  /* border: solid 1px black;    comment out borders for mobile view */
}
.bench-table td, .bench-table th {
  padding: 5px 20px;
  border: solid 1px black;
}


table tr:first-child th {
  border-top: 0;
}
 table tr:last-child td {
  border-bottom: 0;
}
#basic-info-table {
  font-size: 1.2em;
}
#basic-info-table tr td:first-child,
#basic-info-table tr th:first-child {
  border-left: 0;
  padding-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}
.iphone-table-container {
  margin:20px 0 0 20px;
}
.guesser {
  margin-top: 10px;
}
.rb-green {
  color: rgb(22, 231, 22); 
}
.rb-black{
    color: #000000;
}

.rb-red{
    color: rgb(231, 85, 22);
}

.circle-pic{
  height: 32px;
  border-radius: 30px;
  display: inline-block;
  margin: 0 5px 0 5px;
}
#league-background{ 
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #211922;
  margin: 0;
  padding: 0;
  background-image:url(../images/stadiums/eu_soccer_stadiums/olympiastadion-stadium.jpg); 
}

.answer-row .answered-player{
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#trending-guys-back {    
  padding: 0 2% 0 2%;
  border-radius: 4px;
}
#trending-guys-inner {
  font-size: 1.2em;
  color: #000000;
}
.trendquiz{
  margin-bottom: 10px;
}
#curvy-buttons {
  border-radius: 20px;
  margin-bottom: 5px;
}

.quiz-page-backgrounds {
  background: no-repeat scroll center top/cover transparent; 
  padding: 0;
  bottom:0;
  min-height: 650px;
  width:100%;
  position:relative;
}


.name-point-container .player-name{
  width: 85%;
  float:left;
  margin-bottom: 0;
  position: relative;
}

.name-point-container .player-name .glyphicon-ok{
  position: absolute;
  right: 2%;
  top: 26%;
  color: rgb(22, 231, 22);
}
}

.player-name .form-control{
  padding: 19px 12px;
  border-radius: 4px 0 0 0;
}

#quiz-container .answer-container{
  padding-left: 90px;
  max-width:75%;
  float: none;
}
.center-div {
  margin: 15% 0 0 5%;
  width: 80%;
}
.center-place {
  margin: 10% 0 0 25%;
}
.answer-box {
  width:  10%;
  height: 100%;
  border: 1px solid #D3D3D3;
}

.button-section{
    text-align: center;
    padding-top: 15px;
}
.button-section .quit-btn{
  padding: 6px 30px;
}
.quit-btn {
  display: block !important;
}
.trending-quiz{
  color: #009AB9;
  cursor: pointer;
}



  /***********480********/
  @media screen and (max-width: 480px) {

    .container-iphone {
        display: block;
        background: url(../images/bball_back.svg) no-repeat scroll center top/cover transparent;
      }
    .modal-video { width:100%; height:250px; }
    .social-sidebar{
        display: none;

    }
    .g-badge {
        display: none;
      }
    #index-buttons{
      margin: 2% 2% 0 2%;
    }

  }  

  /***********580*******/

  @media screen and (max-width: 580px) {
    .team-container{
      width:85%;

    }
    .point-container{
      padding: 4px 11px 4px 4px;

    }
    .answer-row.left{
      float:none;

    }
    #index-buttons{
      margin: 2% 6% 0 6%;
    }

  .standard-nba-container{
    min-height: 500px;
  }
}

/*******780************/
@media screen and (max-width: 780px) {
    #right-quiz-column {
        float:none;
        padding-bottom: 20px;
        margin-top: none;
        padding-left: 5%;
    }
    #left-quiz-column{
      float:none;
      margin-top: none;
      padding-left: 5%;

    }
    #team-select {
        font-size: 45px;
        padding-bottom: 20px;

    }
    .social-sidebar{
        right: 91%;

    }
    #index-buttons{
      margin: 2% 8% 0 8%;
    }
     
}

/******880********/
@media screen and (max-width: 880px) {
    .social-sidebar{
        right: 92%;

    }
     
}





