body {
  padding: 0px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#team-selection{
	margin-bottom: 15px;
}

.navbar.blitz{
	background-color: #fff;
	border-color:#fff;
	font-family: HelveticaNeue-Thin;
}

.navbar-brand.main{
	font-size: 22px;
}

#team-container{
	text-align: center;
	padding-top: 5%;
}

#team-select{
	font-size: 58px;
	font-family: HelveticaNeue-Thin;
	padding-bottom: 25px;
}

@media screen and (max-width: 780px) {
    #team-select {
        font-size: 34px;
        padding-bottom: 20px;

    }
}

@media screen and (max-width: 460px) {
    #team-select {
        font-size: 20px;
        padding-bottom: 15px;

    }
}

.submit-section{
	padding-top: 30px;
}

.quiz-btn{
	width:34%;
}
.select2-container{
	min-width: 150px;
}

.select2-selection{
	text-align: left;
}

.select2-selection__rendered{
	color:gray !important;
}

.select2-container .select2-choice > .select2-chosen{
	text-align: left
}